.Detail {
  > .inner {
    width: 70%;
    margin: 20px auto;

    > .title {
      border-bottom: 1px solid rgb(233, 233, 233);
      margin-bottom: 20px;
      padding: 10px 20px;

      > h2 {
        margin-bottom: 20px;
      }

      > p {
        font-weight: 500;
      }

      > small {
        color: rgb(146, 146, 146);
      }
    }

    > .content {
      margin-bottom: 20px;
      padding: 10px 20px;

      > div {
        text-align: center;
        margin-bottom: 10px;
        img {
          width: 70%;
        }
      }
    }

    > .buttons {
      text-align: end;
      margin-bottom: 20px;

      button {
        color: white;
        &:first-child {
          background-color: #62c554;

          &:active {
            background-color: #4b9841;
          }
        }

        &:last-child {
          background-color: #de8687;

          &:active {
            background-color: #b36c6d;
          }
        }
      }
    }
  }
}
