.ImgUpload {
  margin: auto;
  text-align: center;
  position: relative;
  width: 90%;
  transform: translateX(-5px);

  > input {
    width: 100%;
    border: 1px solid rgb(208, 207, 207);
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .gray {
    background-color: rgb(235, 235, 235);
    border: none;
  }

  > button {
    position: absolute;
    right: 0;
    top: 8%;

    &:active {
      background-color: rgb(103, 103, 103);
      color: white;
    }
  }
}
