.TopBar {
  background-color: #dfe1e5;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
  color: #4b4b4b;
  ul {
    display: flex;
    margin-right: 205px;
    li {
      transform: translateY(5px);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
      &:nth-child(1) {
        background-color: #dc786f;
      }
      &:nth-child(2) {
        background-color: #efbe54;
      }
      &:nth-child(3) {
        background-color: #62c554;
      }
    }
  }

  .tab {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 80px;
    width: 170px;
    padding: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 13px;
    letter-spacing: -0.5px;

    .api-icon {
      background-color: #62c554;
      border-radius: 50%;
      padding: 2px;
      margin-right: 5px;
      font-size: 12px;
    }
  }
  .plus-icon {
    font-size: 1.2em;
    transform: translateY(5px);
  }
}
